<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
.container .jumbotron{
	margin-top:50px;
	background:gray;
	color:white;
	width:80%;
}
</style>
</head>
<body>
	<div class="container" align="center">
	<div class="jumbotron">
	  <h1>Welcome To Mirchi News Portal</h1>
	  <p>Continue Updates...</p>
	  <a class="btn btn-primary btn-lg" href="/moviesInfo/" role="button">Movies Info</a>&nbsp;
	  <a class="btn btn-primary btn-lg" href="/sportsInfo/" role="button">Sports Info</a>&nbsp;
	  <a class="btn btn-primary btn-lg" href="/politicalsInfo/" role="button">Political Info</a>
    </div>
	</div>
</body>
</html>
