<html>
<head>
    <style>
        body {
            background: url(https://images.unsplash.com/photo-1546656495-fc838de15e5c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80)
        }

        ul {
            color: white;
        }

        h1 {
            color: yellow;
        }
    </style>
</head>
<body>
<h1 align="center">Latest Updates....</h1>
<hr>
<h1>{{ messHead }}</h1>
<ul>
    <li>{{ mess1 }}</li>
    <li>{{ mess2 }}</li>
    <li>{{ mess3 }}</li>
</ul>
</body>
</html>
